<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> Final </title>
     <link rel="stylesheet" href="../../css/final.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body">
 <div class="escena1"> <h2>Bueno, lo lograste, resolviste el último acertijo y conseguiste entrar a esta ultima sección de la página. Como dije, les enseñaré las notas, el lugar donde las dejé, e incluso enviaré fotos de Slenderman nunca antes vistas....</h2></div>
 <div class="escena2"><h2>Bueno, lo lograste, resolviste el último acertijo y conseguiste entrar a esta ultima sección de la página. Como dije, les enseñaré las notas, el lugar donde las dejé, e incluso enviaré fotos de Slenderman nunca antes vistas.... o eso haría si fuera el que creó esta página.</h2></div>
 <div class="escena3"><h2>Bueno, lo lograste, resolviste el último acertijo y conseguiste entrar a esta ultima sección de la página. Como dije, les enseñaré las notas, el lugar donde las dejé, e incluso enviaré fotos de Slenderman nunca antes vistas.... o eso haría si fuera el que creó esta página. El que está escribiendo es quien tanto el investigador buscó durante los ultimos meses.</h2></div>
 <div class="escena4"><h2>El sabía que más temprano que tarde lo encontraría y por eso iba a esconderlas y ponerlas públicas en esta página para sus lectores, pero desafortunadamente lo encontré primero.</h2></div>
 <div class="escena5"><h2>Lo que no esperaba era encontrarme esta página abierta en su notebook, con esta vista a medio escribir. Esto explica el porque ultimamente estaba recayendo y volviendo a perder el control, el estaba haciendo publica sobre mi existencia nuevamente. </h2></div>
 <div class="escena6"><h2>Es una pena, por respeto a su esfuerzo le estoy dando el final que tanto quiso que tenga su página. Aún tengo la empatia que tenía al ser humano, así que me entristece que haya terminado así, pero su obsesión solo hubiera provocado más muertes de inocentes. <br> La obsesión por mi debilidad hizo que yo terminé así, la obsesión por el poder hizo que el científico haga todas las maldades que hizo, y la obsesión del investigador en mi leyenda es lo que hizo que difundiera toda esta información, sin importarle las consecuencias.</h2></div>
 <div class="escena7"><h2>Lo mejor que puedo hacer ahora es simplemente acabar con esto, borraré la página cuando descubra como hacerlo, y finalmente seré olvidado, así ya nadie más podrá morir por mi culpa y se acabará esta pesadilla.</h2></div>
 <div class="escena8"><h2>Ahora lo único que me queda es encargarme de la última persona que conoce toda esta información sobre mí.... </h2></div>
 <div class="escena9"><h2>Ahora lo único que me queda es encargarme de la última persona que conoce toda esta información sobre mí..... y ese eres tú </h2></div>
 <div class="escena10">
    <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1747778206/jumpscare_unbvj9.jpg" class="slenderman">
    <audio id="audioEscena10" src="/audios/Y2meta.app - slenderman sound effect (128 kbps).mp3"></audio>
 </div>
 <div class="audioyboton" id="audioyboton"><button class="boton" onclick="mostrarSiguienteEscena()"> siguiente</button><br><br>
 <audio id="miAudioo" controls class="audio" autoplay > 
        <source src="/audios/Yume Nikki BGM 21 - Abandoned Alien (In-Game) - NekoBlaze014.mp3" type="audio/mp3">
    </audio></div>
<br>
<script src="/js/scriptFinal.js"> </script>
</body>
</html>