<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> SLENDERMAN </title>
     <link rel="stylesheet" href="../../css/style.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body">  
<div class="textoDramatico"><h1>¿ESTÁS SEGURO QUE QUIERES ACCEDER A ESTA PÁGINA? </h1></div>
<h3 class="texto"> parte de esta información es confidencial, y recabar en este tema puede llevar a que vayan a por tí</h4>
<button class="button" id="acepto">  <h1> Si, acepto las consecuencias</h1>   </button>
<audio id="miAudio"src="/audios/Blood Splatter Sound Effect - CMBGAMER 2018 TV.mp3" > </audio> <br><br>
<h4 class="texto"> Muchos creen que es solo un invento más de internet, pero yo se qué es real. En esta página encontrarás toda la información que he recolectado a lo largo de los años de investigación. Entre esta información estará el quien y que es, poderes, apariencia, avistamientos, como enfrentarlo, etc. Si te interesa toda esta información, entra bajo tu propio riesgo, el sabe cuando alguien lo está buscando. </h4>
<script src="/js/script.js"> </script>
</body>
</html>