<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> SLENDERMAN </title>
     <link rel="stylesheet" href="../../css/notas.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body">
    <div class="caja"> 
<div class="textoDramatico"> <div class="centreseperra"> <h1> LAS 8 NOTAS </h1>
    </div>
    
<div class="centrensetontasnotas"> 
<div class="notaposicion"> <button class="boton" id="nota1"> NOTA 1 </button>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1738180079/nota1_ljuasb.jpg" class="nota"></div>
<div class="notaposicion"> <button class="boton" id="nota2"> NOTA 2 </button>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1738180079/nota2_rebcmf.jpg" class="nota"></div>
<div class="notaposicion"> <button class="boton" id="nota3"> NOTA 3 </button>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1738180079/nota3_ssuslq.jpg" class="nota"></div>
<div class="notaposicion"> <button class="boton" id="nota4"> NOTA 4 </button>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1738180078/nota4_efblhh.jpg" class="nota"></div>
<div class="notaposicion"> <button class="boton" id="nota5"> NOTA 5 </button>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1738180079/nota5_nuzw5c.jpg" class="nota"></div>
<div class="notaposicion"> <button class="boton" id="nota6"> NOTA 6 </button>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1738180078/nota6_cnsbhf.jpg" class="nota"></div>
<div class="notaposicion"> <button class="boton" id="nota7"> NOTA 7 </button>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1738180079/nota7_knnkc9.jpg" class="nota"></div>
<div class="notaposicion"> <button class="boton" id="nota8"> NOTA 8 </button>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1738180079/nota8_hwzaoe.jpg" class="nota"></div>
<br>
 
</div><div class="centreseperra">
    <button class="botonFinal" id="final"> ? </button> <br>
    <button class="boton2"> <a href="/slenderman">volver a la página principal  </a></button> <br>
<audio id="miAudio" controls class="audio" autoplay loop> 
    <source src="/audios/Alice Madness Returns Dollhouse (Extended) - wickedslicks1003.mp3" type="audio/mp3">
</audio><br>
</div></div></div>  
<script src="/js/scriptNotas.js"> </script>
</body>
</html>