<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> SLENDERMAN </title>
     <link rel="stylesheet" href="../../css/slenderman.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body">
    <div class="caja"> 
<div class="textoDramatico"> <div class="centreseperra"> <h1> SLENDERMAN </h1>
    <audio id="miAudioo" controls class="audio" autoplay > 
        <source src="/audios/[Request] Alice Madness Returns - Jack Splatter Extended - Mr Phoenix.mp3" type="audio/mp3">
    </audio></div>
<br><br>
<h3 class="texto"> ¿QUIEN ES SLENDERMAN? </h3>
<div class="doslocosenposicion">   <h3 cass="texto">  Slenderman es un ser sobrenatural inteligente con apariencia humanoide, el cual suele esconderse en bosques, normalmente dejando notas de papel plegados en los arboles con mensajes. Suele atacar a cualquiera que entre al bosque en el que está, pero cuando se interesa en una persona en particular, puede ir a acecharlo sin importar donde esta se encuentre. Cosas como sus objetivos, naturaleza, u otras cosas son desconocidas, al casi no dejar rastros al atacar.  </h3>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1736723997/imagenes-de-slender-man-2bfp3tyswu1ard7p_dj7vw0.jpg" class="imagen">
</div>
<br>
<div class="doslocosenposicion"> <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1736033564/slender-man-pictures-u0fk9dx2uckzhkt8_mrg7bc.jpg" class="imagen"> 
<br> <h3 cass="texto"> APARIENCIA <br> <br> Es un ser con forma de un hombre alto y delgado con traje, con un cuerpo completamente blanco y sin ningún rasgo facial, quedando completamente vacia y sin ninguna expresión. Al ser de una altura humanamente imposible, posee brazos y piernas extremadamente largas, y a voluntad puede desplegar tentaculos negros de su espalda, los cuales puede usar para atrapar o atacar a sus victimas. Hay gente que cree que se come a sus victimas, por lo que según ellos debe ser capaz de abrir la boca y tener dientes filosos, pero no hay ninguna prueba de eso. </h3></div>
<br>
<h3 class="texto"> Poderes y habilidades </h3> <div class="doslocosenposicion"> 
    <h3 cass="texto"> Actualmente los poderes que se le conocen serían su fuerza sobrehumana, la cual usa para atrapar o atacar a sus victimas, y una gran resistencia a los golpes o balas. Se destaca también en como su presencia puede provocarle a sus victimas dolor de cabeza, toser descontroladamente, que se les nuble la vista, y a veces desmayos. Se cree que puede teletransportarse, debido a su facilidad de cambiar de locación, incluso de país, en poco tiempo.   </h3>
    <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1736034403/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f5955494347317762586436624e513d3d2d3138372e3137313931313436653237386430343534_omr9wc.jpg" class="imagen"> </div>
    <br> 
<div class="doslocosenposicion"> <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1736034610/png-transparent-slender-the-eight-pages-slenderman-slender-man-stabbing-documentary-film-slender-man-atmosphere-photography-monochrome_wrbg1v.png" class="imagen"> 
<h3 cass="texto"> VICTIMAS Y OBJETIVOS <br> Sus principales victimas son niños y adolescentes, a los cuales los acecha, provocandoles paranoia y estrés, para luego secuestrarlos y llevarlos al bosque. En el momento en el que desaparecen, no se vuelve a saber nunca nada más de ellos. Se desconoce su objetivo del porque hace esto, ni que les pasa a los que son raptados. También suele atacar a cualquier persona que entre en el bosque en donde está, o gente que se interese de más en el, por lo que se cree que no le gusta que se conozca mucha de su información. </h3>
</div>
<br>
<h1 class="centreseperra"> AVISTAMIENTOS </h1>
<h2 > Las principales pruebas de Slenderman que tenemos registradas son grabaciones de gente sobre sus encuentros. Estos videos nos ayudan a conocer mejor su comportamiento y efectos que puede generar en las victimas, o incluso en las camaras, las cuales generan intereferencia, o incluso dejan de andar al grabarlo. Voy a mostrarles videos de los avistamientos que me parecen más sorprendentes e importantes, aunque abajo de eso dejaré otros ejemplos por si quieres seguir viendo. </h2><br>
<h1> Avistamiento 1</h1> <div class="doslocosenposicion2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pKvlDC8NY7o?si=4-17NKdkmfiPxPdu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
<h4 class="avistamientos">En este video podemos ver a un joven en su casa grabando y mostrando su juego que acaba de comprar, pero por la ventana vé una figura extraña la cual reconoce al instante. Esta figura era Slenderman, y por un motivo que desconozco, el chico fue directo hacia el a grabarlo, pero apenas se acerca a el, se desmaya en medio de la calle. Al final del video, el chico nos cuenta que no es la primera vez que lo vé, y que está seguro que Slenderman lo está siguiendo. Este video nos muestra los efectos que puede tener la presencia de Slenderman en sus victimas, al provocar el desmayo del chico y la paranoia que tiene al ser conciente que lo está siguiendo constantemente. </h4>
</div>
<h1> Avistamiento 2</h1> <div class="doslocosenposicion2"> 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HuX0u_j5jNU?si=Ip2ysIHf95bWsV02" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
<h4 class="avistamientos">Este video es más corto, pero es muy sorprendente, ya que nos permite ver desde una camara de seguridad como Slenderman rapta a una niña que estaba jugando en el patio de su casa. Esto va acorde a lo mencionado anteriormente, sobre que sus principales objetivos son los niños/adolescentes. También al final podemos ver sus tentaculos que usa para atraparla, y probablemente llevarsela. Personalmente no creo que haya atacado a la niña, pero si es probable que su presencia haya provocado que esta quede inmovilizada. Como mencioné al principio, a dia de hoy la niña no fue encontrada, y esto es lo último que se vio de ella.  </h4>
</div>
<h1> Avistamiento 3</h1> <div class="doslocosenposicion2"> 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/beX2aMws_qw?si=C53Cghis9GNivoex" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h4 class="avistamientos">Este video es el más rustico se podría decir, pero es una de las pruebas más importantes que tengo, siendo grabado por un señor en Rusia desde su departamento. En este se muestra una figura extremadamente larga moviendose con facilidad por los edificios, con un cuerpo y caracteristicas idénticas a Slenderman. En su momento cuando salió el video por primera vez, en todos lados se hablaba de esto y buscaban darle una explicación, pero de un dia para otro se dejó el tema, cosa que se me hace sospechosa, como si intentaran ocultarnos algo. Desconozco completamente lo que pasó despues del video, pero es probable que después de esto, esta entidad haya ido por quien grabó el video y por los que lo difundieron. </h4>
</div>
<br>
<h2 class="centreseperra"> Mas avistamientos </h2>
<iframe width="190" height="195" src="https://www.youtube.com/embed/1mFV4aLXBto?si=JSGQ332uguO_fj1S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><iframe width="190" height="195" src="https://www.youtube.com/embed/t3EPSG4TFIY?si=-5RHWAFYOmYY9Yol" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><iframe width="190" height="195" src="https://www.youtube.com/embed/Bn59FJ4HrmU?si=W-vkXTif2RJZ6KmU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><iframe width="190" height="195" src="https://www.youtube.com/embed/v9uPHRfe0fs?si=vQ32gcSFtBMPbKKk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><iframe width="190" height="195" src="https://www.youtube.com/embed/dvZiwKcg06Y?si=7s77DkuEtug0kjoa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<h3 class="texto"> ¿Como enfrentarlo? </h3>
<div class="doslocosenposicion">   <h3 cass="texto">  Técnicamente es algo que no se puede saber, debido a la falta de pruebas, pero si hay teorías de esto. Sabemos que es resistente a balas o cualquier ataque fisico. La unica prueba que tenemos que puede funcionar como debilidad son las 8 NOTAS, las cuales se encuentran escondidas en los bosques donde visita. Sabemos que lo que más le enfada y provoca que te busque, es que intentes recolectarlas. No sé porque es eso así, pero creo que estas pueden tener un significado oculto, uno el cual Slenderman no quiere que conozcamos, y que puede ser el punto final para mi investigación.   </h3>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1736724099/tumblrsexyman_tckxx0.jpg" class="imagen">
</div>
<br>
<div class="doslocosenposicion"> <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1736089739/ty5UMcN_wnqixz.png" class="imagen"> 
<br> <h3 cass="texto"> Origen <br> <br> Completamente desconocido....o no? </h3></div>
<br>
<h3 class="texto"> ¿Aliados? </h3>
<div class="doslocosenposicion">   <h3 cass="texto">  Se tiene poca Información de esto, pero hay rumores de que algunos de los jovenes que secuestró ahora están bajo su control, y los usa según sus necesidades, muchas veces haciendo que hagan el trabajo sucio de buscar información o asesinar a la gente que sabe mucho de el. No se sabe nada más...  </h3>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1737584682/psicopatas_g1w81o.jpg" class="imagen">
</div>
<br>
<div class="doslocosenposicion"> <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1736724074/boceto_wwqxjh.jpg" class="imagen"> 
<br> <h3 cass="texto"> Mis razones para investigarlo <br> <br> Desde que conocí sobre esta entidad en internet, sentí mucho interés en averiguar más. No entiendo como habiendo tantos avistamientos sobre este ser, haya tan poca información, y tan poca gente interesada en el caso. Voy a hacer lo posible por descubrir todo lo que pueda sobre este ser, por más que esto me ponga en riesgo en un futuro. Hasta ahora, que solo tengo información generalmente conocida, no me pasó nada ni vi afectada mi vida normal. Espero eso siga así </h3></div>
<br>
<h1> no niego poner alguno más antes de lo que sigue</h1>
<br>
<h3> si llegaste hasta esto, es porque llegaste al final de la página...pero si te interesa saber un poco más... puedo ayudarte con eso... Click aquí</h3>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1736088916/WhatsApp_Image_2025-01-05_at_11.47.00_uuwyuo.jpg" class="imagen2">
<h4>Te recomiendo tener un lugar para anotar, porque esa es la contraseña para desbloquear la primera nota, esta contiene informacíón que puede resultarte util. Escondí las otras 7 por alrededor de la página, en estas hay información nunca antes vista y producto de mi investigación, con respuestas a preguntas que todos creían que no tenían respuestas. Es probable que el vaya a por tí si se entera que sabes todo esto... como probablemente ya esté viniendo por mí. Es tu decisión tomar este riesgo. </h4>
<button class="button" id="acepto">  las 8 notas de slenderman </button>
<audio id="miAudio"src="/audios/Blood Splatter Sound Effect - CMBGAMER 2018 TV.mp3" > </audio>
<br><br>  
</div>  
<script src="/js/scriptSlendy.js"> </script>
</body>
</html>