<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> SLENDERMAN </title>
     <link rel="stylesheet" href="../../css/style.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body">  
<div class="textoDramatico"><h1>¿ESTÁS SEGURO QUE QUIERES ACCEDER A ESTA PÁGINA? </h1></div>
<h3 class="texto"> tengo hambre we </h4>
<script src="/js/script.js"> </script>
</body>
</html>