*{
    box-sizing: border-box;
    font-family: 'Roboto', cursive;
}
.body{
    background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1738160956/7925642174_73ce92e1b0_b_utcl7j.jpg");
    background-size:cover;
    background-position: center;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    /*margin: 0;
    height: 100%;*/
}
.centreseperra{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left:380px;
    color: black;
}
.caja{
    color: white;
    border: solid 5px black ;
    background-image: url("https://res.cloudinary.com/dduyxqrqt/image/upload/v1738157386/unfondodemadera..._tns7b6.jpg");
    width: 75%; 
    height: 100%;
    display: flex;
    justify-content: center;
}
.audio{
    width: 260px;
    height: 55px;
    margin-left: px;
    }
.doslocosenposicion{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    height: 400px;
    position: relative;
}
.doslocosenposicion2{
    display: flex;
    flex-direction:row;
    /*justify-content: space-around;*/
    height: 350px;
    /*position: relative;*/
}
/*veo como solucionar esto del width del video, parece más complicado de lo que debería*/
.avistamientos{
    width: 400px;
}
.imagen{
    width:500px;
}
.imagen2{
    flex:content;
    justify-content: center;
    width: 990px;
    height: 500px;
}
.nota{
    width:200px;
    height: 300px;
}
.centrensetontasnotas{
   margin-left: 93px;
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.boton{
   width: 200px; 
   background-color: black;
   color:white;
}
.boton2{
    width: 200px; 
    background-color: black;
    color:white;
    margin-left: 29px;
 }
.botonFinal{
    width: 50px; 
    height: 25px;
    margin-top: 50px;
    margin-left: 107px;
    margin-bottom: 35px;
    background-color: black;
    color: red;
}
.notaposicion{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7px;
}