<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> Nota 6 </title>
     <link rel="stylesheet" href="../../css/notasextra.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body">
    <div class="caja2"> 
     <div class="centreseperra"> <h1> Nota 6 </h1></div>
 <div class="centreseperra2"> 
<h3 class="texto"> Bueno, durante el transcurso de buscar las otras notas, descubrí algunas cosas interesantes. Entre estas, está este simbolo que ya les mostré anteriormente </h3>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1744481084/9c2f8038ed186172b21804d336432343_q9xtxk.jpg" class="imagen3">
<h3 class="texto"> Investigando en internet, vi que parece estar relacionado con la magia negra que usó el científico para proteger el cuerpo del joven, aunque todavia no pude leer mucho de que trata.</h3>
<div class="doslocosenposicion"> <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1744481191/fdb02597b1f41fff807f03c741b1e663_h5znrp.jpg" class="imagen"> <h3 class="texto"> Pero esto me saca la conclusión, y es que por la forma que están escritas las notas, y el hecho que este simbolo  y otra información que pocos conocen de Slenderman, puedo confirmar que fueron escritas y escondidas por el científico. Probablemente mientras escapaba de él, siendo las 8 las que le dió tiempo a esconder antes de su probable captura. Por suerte las escondió bien, porque después de tantos años siguen estando en su lugar de origen sin que Slenderman las haya podido encontrar. Y pensar que al principio pensabamos que eran escritas por él. </h3></div>
<br> 
<h3 class="texto">Por cierto, estoy seguro con eso de que no quiere que nadie las vea, porque parece que esa información de los proxys era real, ya que durante mi busqueda empece a encontrar presencias extrañas en los lugares cercanos a estas zonas </h3>
<div class="doslocosenposicion"><img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1744482659/hoodie_chegao.jpg" class="imagen3"><img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1744482660/hoodiee_empffp.png" class="imagen3"> </div>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1744483073/silenthill_lcwxkh.jpg" class="imagen3">
<h3 class="texto">Apenas los veía, salian corriendo, pero ahora no puedo sentirme seguro, siento que todo el tiempo estoy siendo observado. Pero bueno, eran riesgos que estaba dispuesto a tomar desde el inicio de la investigación. Por ahora, solo queda buscar las ultimas 2 notas y ver que conclusiones puedo sacar. Espero poder compartir la información, y que mis días no estén contados como todos los que averiguaron de esto anteriormente. </h3>
<br><button class="button2"> <a href="/notas">volver</a></button><br>
<audio id="miAudioo" controls class="audio" autoplay > 
    <source src="/audios/Alice Madness Returns Therapy (Intro Extended).mp3" type="audio/mp3">
</audio></div>
<script src="/js/scriptNotasExtra2.js"> </script>
</body>
</html>