<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> Nota 3 </title>
     <link rel="stylesheet" href="../../css/notasextra.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body">
    <div class="caja"> 
<div class="textoDramatico"> <div class="centreseperra"> <h1> Nota 3 </h1></div>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1743254631/casa1_iqzdsj.jpg" class="imageen">
<br><br>
<h3 class="texto"> Bueno, como habrán visto, ahora mismo me encuentro en Estados Unidos personalmente para buscar las notas por mi cuenta. Durante mi busqueda por la tercera nota entre los bosques, encontré un laboratorio abandonado, el cual parece que no tuvo visitas hace decadas. Al entrar vi algunas manchas de sangre totalmente secas, además de objetos destruidos, pero lo más destacado que encontré fueron apuntes, planos y, lo que buscaba, la tercera nota. Pero me llamó la atención los planos, los cuales narran un experimento hecho por un cientifico a un joven adulto, y que creo que puede tener relación con Slenderman. Les contaré resumidamente todo lo escrito y relatado en estos apuntes, aunque hay partes ilegibles que no logro descifrar.  </h3>
<br><br>
<h2>Experimento 84-B</h2>

<div class="doslocosenposicion"> <h3 cass="texto">  la nota habla de un joven adulto, el cual llevaba deprimido durante años por su debilidad, recibiendo bullyng e insultos durante toda su vida, en la escuela, universidad y hasta el trabajo. Pero un día, este fue seducido por un cientifico, el cual le prometía que al firmar un contrato, este le podría volver una persona fuerte, y que nadie más se metería con el. Lo que no sabía era que este científico estaba loco, obsesionado con llevar sus experimentos al limite, incluso si esto provocaba la muerte de sus pacientes. Por algo se llamaría experimento 89-b, debido a que todos los expermientos anteriores fallidos. La diferencia, es que ahora no solo usaría ciencia, sino también ocultismo y magia negra. </h3>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1743258286/nocreoquesirva_fmrcts.jpg" class="imagen">
</div>
<br>
<div class="doslocosenposicion"> <img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1743258558/blabla_fpsuf0.jpg" class="imagen">
<h3 class="texto"> Apenas el joven firmó los papeles que le ofreció el científico, este lo inyectó con un liquido para dormirlo. Cuando despertó, vio que esta en el suelo, atado y rodeado de un pentagrama satánico y velas, teniendo delante una máquina para cirugias. Antes que pueda pronunciar una palabra, el científico giró una palanca, la cual tiró un rayo al pecho del chico. Esto provocó que su cuerpo se empiece a contracturar, para luego tensarlo, hasta que se le empezaron a estirar los brazos y piernas. El chico parecia sorprendido, pero estaba callado viendo como parecía estar funcionando. El científico gira la segunda palanca, y esta provoca la caida del pelo, y que su piel se vuelva más pálida, pero muchisimo más resistente.   </h3><br> 
</div>
<h3>El proceso debería ser doloroso, pero el chico, estaba callado esperando con entusiasmo lo siguiente, cosa que sorprendió al científico, el cual decidió seguir. El experimento siguió y el tercer rayo provocó más efectos en los musculos del chico, haciendolo sentir más fuerte. <br> Ahora venía lo dificil, y lo que falló en todos los demás experimentos, pero para esto, el cientifico dibujó el *ILEGIBLE* en el paciente, que iba a ayudar a contener toda esa *ILEGIBLE* en su cuerpo. El científico tira el rayo, lo que provoca que de su espalda salgan tentaculos negros, los cuales no se podían mover debido a las cuerdas. El experimento había sido un exito, logró formar la criatura definitiva, pero aún quedaba una palanca, la cual era para, y cito textualmente, controlarlo a su favor. Cuando gira esta palanca, el último rayo le dá al chico, el cual siente como sus ojos, boca, y todas los demas rasgos faciales se van mezclando y desapareciendo entre su piel blanca, no pudiendo ver ni sentir nada, sin entender lo que pasa, pero antes que el rayo pueda terminar, uno de los tentaculos logra salir y rompe la máquina, para luego romper todo sus ataduras. Esta ultima oración la traduciré tal cual está escrita "el joven se levanta, transformado completamente en *ILEGIBLE*, y está viniendo corriendo hacía acá, a por mí".</h3> 
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1743258287/labandonado_s9svbm.jpg" class="imageen"><br>
<h3 class="texto"> Bueno, eso es lo que pude rescatar de los apuntes que encontré, traducidos y narrados por mí para que sean más faciles de leer. El perfil del chico y el procedimiento están escritos por el cientifico, pero por ahora no tengo forma de saber que pasó después, y no creo que nadie haya visto eso además de el científico y el joven, así que no tengo esperanza de saberlo. Además de eso, aún quedan muchas otras preguntas, como el de donde salieron las notas o en que se supone exactamente que se transformó el joven. Pero bueno, aún me quedan otras notas que encontrar, así que seguiré en mi busqueda.  </h3><br>
<button class="button"> <a href="/notas">volver</a></button><br>
<audio id="miAudioo" controls class="audio" autoplay > 
    <source src="/audios/Alice Madness Returns Therapy (Intro Extended).mp3" type="audio/mp3">
</audio></div>
<script src="/js/scriptNotasExtra.js"> </script>
</body>
</html> 