<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> Nota 8 </title>
     <link rel="stylesheet" href="../../css/notasextra.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body">
    <div class="caja2"> 
     <div class="centreseperra"> <h1> Nota 8 </h1></div>
 <div class="centreseperra2"> 
<h3 class="texto"> Bueno, finalmente después de tanta busqueda, encontré la ultima nota. Lastimosamente no pude sacar foto, no quiero quedarme quieto mucho tiempo en un mismo lugar desde que sé que ellos me siguen. Pero esta última nota la encontré en el lugar donde empezó toda esta historia de Slenderman para mí. </h3>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1745704505/WhatsApp_Image_2025-04-26_at_16.34.06_rhlswh.jpg" class="imagen3">
<h3 class="texto">Una plaza para niños donde se veía de fondo una figura alta y con tentaculos acechando. Es el lugar de la primer foto de slenderman, a inicios de los 2000 en el internet antiguo, donde la mayoría de los que lo conocemos lo vimos por primera vez. La imagen fue borrada de internet hace tiempo, pero pude recuperarla investigando en lo más recondito de la web, por eso está en mala calidad. Parece que fue el ultimo lugar donde pudo pasar el cientifico antes de ser descubierto.<br>Después de toda esta busqueda y de finalmente tenerlas todas... admito que fue mala idea.</h3>
<br>
<div class="doslocosenposicion"><h3 class="texto">Pude consultar con fuentes en internet sobre la magia negra, y parece que lo que hace ese simbolo, como dije anteriormente, era para protegerlo de los daños del experimento, pero a cambio lo convertiría en un Tulpa. Esto es un ser de magia negra el cual se apropia del cuerpo del huesped, protegiendolo pero al mismo tiempo controlandolo. El poder que adquiere con esta entidad dentro es equivalente al miedo que le tienen las personas, haciendolo más real mientras más gente conozca de su existencia. Mientras menos miedo se le tenga o menos reconocido sea, le será más facil al huesped controlarse a si mismo, pero al ser olvidado por completo, la entidad desaparecerá, y, en este caso, el huesped moriría a causa de los efectos del experimento. </h3><img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1745704505/WhatsApp_Image_2025-04-26_at_16.34.12_gnsuhz.jpg" class="imagen3"></div>
<div class="doslocosenposicion"><img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1745704505/WhatsApp_Image_2025-04-26_at_16.34.13_ho9pgn.jpg" class="imagen3"><h3 class="texto">El miedo del científico al ver fallar su experimento, y su desconocimiento en magia negra, fueron lo que alimentaron a la entidad. Y, en un acto de desesperación, escribió las notas y lo terminó conduciendo a un lugar concurrido para pedir ayuda. Donde se tomó la famosa foto de Slenderman, convirtiendose en la leyenda urbana que todos conocemos, y provocando que el joven pierda el control por completo y cometa durante años las atrocidades que cometió </h3></div>
<h3>Mencioné anteriormente que capaz me arrepiento un poco de esta busqueda, y es porque todos estos encuentros con Slenderman de los que investigue fueron decreciendo con su popularidad, como si el joven quisiera ser olvidado por completo, así la entidad desaparece y ya no provoca todos los asesinatos que hizo en esos años. Pero, acá estoy yo reavivando el tema :P</h3>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1745704524/WhatsApp_Image_2025-04-26_at_16.34.40_ruwud0.jpg" class="imagen3">
<h3>Los encuentros con los proxys se intensficaron, pero ninguno hizo nada, más parece que solo me siguen para mantenerme bien localizado. Desconozco que tan en control esté Slenderman actualmente, pero como dije, creo que lo que quiere es deshacerse de toda evidencia y conocimiento que se tenga de el, y usa a sus proxys para identificar quienes distribuyen esto, pero no puedo permitir que todos mis ultimos meses de busqueda hayan sido en vano. Voy a resguardar las notas, dejaré esta página en público, y todos los que puedan conseguir esta información escondida van a pasarselo a más gente, y así hasta expandir todo mi conocimiento sobre él, no me importa las consecuencias que eso pueda traer. Este es el fin de la página, esconderé las notas reales, junto a muchas más que yo dibujé en los ultimos meses, en un lugar secreto para que no las encuentre antes de buscarme, quienes resuelvan el acertijo final tendrán la ubicación y podrán buscarlas, así siguen difundiendo su legado.</h3>
<div class="centreseperra3"> <h2>NO VOY A DEJAR QUE LA LEYENDA MUERA</h2></div>
<div class="doslocosenposicion"><img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1745704680/WhatsApp_Image_2025-04-26_at_16.34.40_ddvy3h.jpg" class="imagen3"><img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1745704525/WhatsApp_Image_2025-04-26_at_16.34.39_vjuovz.jpg" class="imagen3"></div>
<button class="button2"> <a href="/notas">volver</a></button><br>
<audio id="miAudioo" controls class="audio" autoplay > 
    <source src="/audios/Alice Madness Returns Therapy (Intro Extended).mp3" type="audio/mp3">
</audio></div>
<script src="/js/scriptNotasExtra3.js"> </script>
</body>
</html>