<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> Nota 8 </title>
     <link rel="stylesheet" href="../../css/slenderman.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body">
    <div class="caja"> 
<div class="textoDramatico"> <div class="centreseperra"> <h1> Nota 8 </h1>
    <audio id="miAudioo" controls class="audio" autoplay > 
        <source src="/audios/[Request] Alice Madness Returns - Jack Splatter Extended - Mr Phoenix.mp3" type="audio/mp3">
    </audio></div>
<br><br>
<h3 class="texto"> ¿QUIEN ES Ben 10? </h3>
<div class="doslocosenposicion">   <h3 cass="texto">  Slenderman es un ser sobrenatural inteligente con apariencia humanoide, el cual suele esconderse en bosques, normalmente dejando notas de papel plegados en los arboles con mensajes. Suele atacar a cualquiera que entre al bosque en el que está, pero cuando se interesa en una persona en particular, puede ir a acecharlo sin importar donde esta se encuentre. Cosas como sus objetivos, naturaleza, u otras cosas son desconocidas, al casi no dejar rastros al atacar.  </h3>
<img src="https://res.cloudinary.com/dduyxqrqt/image/upload/v1736723997/imagenes-de-slender-man-2bfp3tyswu1ard7p_dj7vw0.jpg" class="imagen">
</div>
<br> 
<script src="/js/scriptNotasExtra3.js"> </script>
</body>
</html>